*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container .welcome{
	background-image: url("../img/bg-15.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:100%;
	height:100vh;
}

.welcome .message{
	position: absolute;
	top:50%;
	width:70%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 2rem;
	border-radius: 0 4rem;
	color: var(--lightblue);
}

.message h2{
	width: 60%;
	margin: 0 auto;
	text-transform: uppercase;
	padding: .5rem 0;
	border-bottom: 2px var(--lightblue) solid;
}

.message p{
	font-size: 2.5rem;
	padding: 2rem 0 .5rem 0;
	text-transform: capitalize;
}

.container .content{
	display: flex;
	align-items: center;
	background-color:#bebec8;
	padding: 4rem;
}

.content .contact-form{
	flex:1.5;
	border-right:1px solid black;
}

form{
	width: 70%;
	margin: 0 auto;
}
form input{
	width: 100%;
	height: 1.5rem;
	margin-bottom:1rem;
}
form textarea{
	width: 100%;
}
form input[type="submit"]{
	width:40%;
	margin-top:1.5rem;
	height: 2rem;
	border: none;
	color: white;
	background-color: #3250ff;
	font-weight: bold;
	border-radius: 1rem; 
}
form input[type="submit"]:hover{
	background-color: green;
}

.content .contact{
	flex:1;
	padding-left: 3rem;
}
.contact h4{
	text-transform: uppercase;
}
.contact p{
	padding-bottom: 1.2rem;
	font-size: 1.1rem;
}

@media only screen and (max-width:768px)
{
	.welcome .message{
		width:75%;
	}
	.content .contact-form{
		flex:2;
	}
}

@media only screen and (max-width:426px)
{	
	.container .content{
		display: block;
		padding: 0;
	}
	.content .contact-form{
		border:none;
		padding: 2rem 0;
	}
	.content .contact{
		padding-left: 5rem;
		padding-bottom: 1rem;
	}
}

@media only screen and (max-width: 375px)
{
	.welcome .message{
		padding: 1rem;
	}
	.message h2{
		font-size: 1.3rem;
	}
	.message p{
		font-size: 2.3rem;
	}
	.content form{
		width: 85%;
	}
}

@media only screen and (max-width: 320px)
{
	.message p{
		font-size: 2rem;
	}
	.content .contact{
		padding-left: 3.5rem;
	}
}
