*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container .welcome{
	background-image: url("../img/bg-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width:100%;
	height:100vh;
}

.welcome .message{
	position: absolute;
	top:50%;
	width:70%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 2rem;
	border-radius: 0 4rem;
	color: var(--lightblue);
}

.message h2{
	width: 60%;
	margin: 0 auto;
	text-transform: uppercase;
	padding: .5rem 0;
	border-bottom: 2px var(--lightblue) solid;
}

.message p{
	font-size: 2.5rem;
	padding: 2rem 0 .5rem 0;
	text-transform: capitalize;
}

.container .intro{
	display: flex;
	background-color:#bebec8;
	padding: 2rem;
	align-items: center;
}

.intro .title{
	flex:1;
	text-align: center;
	text-transform: capitalize;
	font-size: 1.8rem;
}

.intro .description{
	flex:3;
	font-family: sans-serif;
	text-align: justify;
	line-height: 1.9rem;
	padding:0 2rem;
	border-left: 2px solid black;
}

@media only screen and (max-width:768px)
{
	.welcome .message{
		width:75%;
	}

	.container .intro{
		display: block;
	}

	.intro .title{
		padding-bottom: .5rem; 
	}

	.intro .description{
		line-height: 1.6rem;
		padding:1rem;
		border-top: 2px solid black;
		border-left: none;
	}
}

@media only screen and (max-width:426px)
{	
	.container .intro{
		padding: 1rem;
	}
}

@media only screen and (max-width: 375px)
{
	.welcome .message{
		padding: 1rem;
	}
	.message h2{
		font-size: 1.3rem;
	}
	.message p{
		font-size: 2.3rem;
	}

	.intro .description{
		line-height: 1.4rem;	
	}
}

@media only screen and (max-width: 320px)
{
	.message p{
		font-size: 2rem;
	}

	.intro .description{
		padding: 1rem .5rem;
	}
}