.background{
	background-image: url("../img/bg-student-portal.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}

.container{
	background-color: rgba(0,0,0,.7);
	height: 100%;
	min-height: 100vh;
	color: white;
}

.container .heading{
	padding-top: 5rem;
	text-align: center;
	text-transform: uppercase;
}
.heading h2{
	padding: 1rem;
	font-size: 1.3rem;
	background-color: rgba(0,0,0,0.7);
}

.container .content{
	background-color: rgba(0,0,0,0.7);
	margin-top:1rem; 
	height: 100%;
	display: flex;
}

.content .profile-picture{
	flex: 1;
	padding: 2rem 0;
}
.profile-picture img
{
	display: block;
	margin: 0 auto;
	width:70%;
}

.content .student-info{
	flex: 1;
}
.student-info table{
	position: relative;
	top: 50%;
	left:50%;
	line-height: 2.2rem;
	font-size: 1.1rem;
	width: 70%;
	transform: translate(-50%,-50%);
}
table tr{
	text-transform: capitalize;
}
table tr:nth-child(2) td:nth-child(2){
	text-transform: none;
}
table tr:nth-child(4) td:nth-child(2){
	text-transform: none;
}

@media only screen and (max-width: 768px)
{
	.container .content{
		display: block;
	}

	.profile-picture img{
		width: 60%;
	}

	.student-info table{
		position: static;
		transform: none;
		width: 40%;
		margin: 0 auto;
		padding: 1rem 0;
	}

	table tr td{
		width: 50%;
	}
}

@media only screen and (max-width: 426px)
{
	.student-info table{
		width:80%;
	}

	table tr td{
		width: auto;
	}
}